

.head{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    position: relative;
    
    &__collage
    {
        width: 900px;
        height: 80px;
        position: absolute;
        display: flex;
        box-sizing: border-box;
        &:hover{
          cursor: pointer;
        }

    &_left{
       width: 300px;
        height: 80px;
        background-color: rgb(203, 203, 255);
        clip-path: polygon(0 0, 260px 0, 300px 40px, 40px 300px, 0 300px);
        z-index: 3;      
      
    }

    &_mid{
        width: 200px;
       height: 80px;
       left: 260px;
        background-color: rgb(169, 255, 152);
        clip-path: polygon(0 0, 160px 0, 200px 40px, 40px 200px, 0 80px);
        z-index: 2;
       
        &:hover{
          
          z-index: 3;
        }
    }

    &_right{
      width: 200px;
       height: 80px;
       left: 420px;
        background-color: rgb(255, 203, 137);
        clip-path: polygon(0 0, 160px 0, 200px 40px, 40px 200px, 0 80px);
        z-index: 1;
        &:hover{
         
          z-index: 3;
        }
      }
}
}
.text{
  color: black;
  padding: 20px 0 0 40px;
 
}